mat-card
    margin-left: -5px
    margin-right: -5px
    margin-bottom: 15px
    border-radius: 0
    mat-card-header
        position: relative
        padding-right: 20px
        fa-icon
            position: absolute
            right: 0
            cursor: pointer
        mat-card-title
            margin: 0 -16px 16px -16px
    