<mat-card>
  <mat-card-header>
    <mat-card-title>{{ note.title }}</mat-card-title>
    <fa-icon [icon]="faPenToSquare" (click)="openNoteDialog()"></fa-icon>
  </mat-card-header>
  <mat-card-content>
    <p>{{ note.description }}</p>
    <p *ngFor="let task of note.tasks; trackBy: trackByTaskId">
      <mat-checkbox
        [(ngModel)]="task.done"
        (ngModelChange)="onCheckboxChange(note)"
        >{{ task.title }}</mat-checkbox
      >
    </p>
    <app-label *ngFor="let label of note.labels" [label]="label"></app-label>
  </mat-card-content>
</mat-card>
