<h1 mat-dialog-title>
  {{ 'edit_labels' | translate }}
  <fa-icon class="close" [icon]="faXmark" mat-dialog-close></fa-icon>
</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input
      matInput
      placeholder="{{ 'create_new_label' | translate }}"
      (keydown.enter)="createLabel()"
      [(ngModel)]="labelToAdd" />
  </mat-form-field>
  <button
    mat-raised-button
    *ngFor="let label of labels"
    (click)="deleteLabel(label)">
    <fa-icon [icon]="faTrash"></fa-icon>{{ label }}
  </button>
</div>
