h1
    position: relative
    fa-icon.close
        position: absolute
        top: 0
        right: 0
        padding: 5px
        line-height: 14px
        min-width: auto

mat-form-field
    width: 100%

button
    display: block
    min-width: 250px
    margin-bottom: 15px
    text-align: left
    fa-icon
        margin-right: 30px
        color: #bebebe