<ul>
  <li class="title">
    <fa-icon [icon]="faPenToSquare"></fa-icon>
    {{ 'notes' | translate }}
  </li>
  <li
    class="label"
    *ngFor="let label of labels$ | async"
    [ngClass]="{ selected: isLabelSelected(label) }"
    (click)="onLabelClick(label)">
    <fa-icon [icon]="faTag"></fa-icon>
    {{ label }}
  </li>
  <li class="edit-btn" (click)="openDialog()">
    <fa-icon [icon]="faPencil"></fa-icon>
    {{ 'edit_labels' | translate }}
  </li>
</ul>
