ul
    padding: 30px 0
    list-style: none
    color: #778599
    li
        padding: 5px
        margin-bottom: 15px
        &.selected
            background-color: #dedede
            color: #0F9488
            border-radius: 8px
        &.label,
        &.edit-btn
            cursor: pointer
        &.title
            fa-icon
                color: #0F9488
        fa-icon
            margin-right: 15px
