<mat-form-field>
  <fa-icon [icon]="faMagnifyingGlass" matPrefix></fa-icon>
  <input
    matInput
    placeholder="{{ 'search_notes' | translate }}"
    [(ngModel)]="searchInput"
    (input)="onSearchChange()" />
</mat-form-field>
