.container
    min-height: 90vh
    background-color: #f1f5f9
    margin: 15px auto
    padding: 0 25px
    .board-top-container
        width: 100%
        padding-right: 125px
        position: relative
        button
            position: absolute
            top: 9px
            right: 0
            background-color: #0F9488