<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-labels-filter [labels$]="labels$"></app-labels-filter>
    </div>
    <div class="col-md-9">
      <div class="board-top-container">
        <app-notes-filter></app-notes-filter>
        <button mat-flat-button color="primary" (click)="openNoteDialog()">
          <fa-icon [icon]="faCirclePlus"></fa-icon>
          {{ 'new_note' | translate }}
        </button>
      </div>
      <app-notes-board [notes$]="filteredNotes$"></app-notes-board>
    </div>
  </div>
</div>
