.mat-checkbox
    padding: 0 5px
[mat-dialog-content]
    width: 650px
    mat-form-field
        width: 100%
        min-width: 600px
        margin-top: 30px
        .plus-icon
            cursor: pointer
    .checkbox-container
        position: relative
        display: block
        padding-right: 50px
        margin-bottom: 10px
        .close-btn
            position: absolute
            right: 0
            cursor: pointer
    fa-icon
        color: #bebebe
.dialog-footer
        margin-top: 10px
        .icon-btn-container
            button
                min-width: 0
        .close-btn-container
            text-align: right