<div mat-dialog-content>
  <div [formGroup]="noteForm">
    <mat-form-field>
      <input
        matInput
        formControlName="title"
        placeholder="{{ 'title' | translate }}"
        [(ngModel)]="note.title" />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        formControlName="description"
        placeholder="{{ 'description' | translate }}"
        [(ngModel)]="note.description" />
    </mat-form-field>
  </div>
  <div
    class="checkbox-container"
    *ngFor="let task of note.tasks; trackBy: trackByTaskId">
    <mat-checkbox [(ngModel)]="task.done">{{ task.title }}</mat-checkbox>
    <fa-icon
      class="close-btn"
      [icon]="faXmark"
      (click)="deleteTask($event, task)"></fa-icon>
  </div>
  <mat-form-field>
    <input
      matInput
      placeholder="{{ 'add_task' | translate }}"
      [(ngModel)]="taskToAdd" />
    <fa-icon
      class="plus-icon"
      (click)="addNewTask(taskToAdd)"
      [icon]="faPlus"
      matSuffix></fa-icon>
  </mat-form-field>
  <app-label *ngFor="let label of note.labels" [label]="label"></app-label>
</div>
<div class="row dialog-footer">
  <div class="col-md-6 icon-btn-container">
    <button mat-button [matMenuTriggerFor]="menu">
      <fa-icon [icon]="faTag"></fa-icon>
    </button>
    <mat-menu #menu="matMenu">
      <p *ngFor="let checkbox of labelCheckboxes | async">
        <mat-checkbox
          class="label-checkbox"
          [(ngModel)]="checkbox.isSelected"
          (ngModelChange)="onCheckboxChange(checkbox)"
          (click)="$event.stopPropagation()"
          >{{ checkbox.label }}</mat-checkbox
        >
      </p>
    </mat-menu>
    <button mat-button (click)="deleteNote()" mat-dialog-close>
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
  </div>
  <div class="col-md-6 close-btn-container">
    <button mat-button mat-dialog-close>{{ 'close' | translate }}</button>
    <button mat-button (click)="confirmChanges()">
      {{ 'confirm' | translate }}
    </button>
  </div>
</div>
