<div class="row">
  <div
    class="column col-md-12 col-lg-3"
    *ngFor="let e of [].constructor(4); index as idx">
    <app-sticker-note
      *ngFor="let note of (columns$ | async)?.[idx]; trackBy: trackByNoteId"
      [note]="note">
    </app-sticker-note>
  </div>
</div>
